.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10rem;
  background-color: black;
  color: white;
  width: 15rem;
  height: 5rem;
  border-radius: 1rem;
  border: 0 solid black;
}
.response {
  margin-left: 1rem;
}
